.add-content {
	&,
	&__text {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 0.8rem;
	}

	&__separator,
	&__text {
		font-weight: var(--font-weight-semibold);
		color: var(--color-text);
		font-size: 1.2rem;
	}
}
