.price {
	text-align: left;

	display: flex;
	flex-direction: column;

	& > span {
		font-weight: bold;
	}

	&__not-default {
		color: var(--color-muted);

		font-size: var(--font-size-xs);
	}

	&__default {
		font-size: var(--font-size-sm);
	}
}
