.product-by-order {
	vertical-align: middle;
	transition:
		box-shadow 0.2s,
		border-color 0.2s;

	& > td {
		display: flex;
		align-items: center;
		padding-right: 0;
		padding-left: var(--space-2xl);
		height: var(--size-60);
	}
	&:first-child > td.product-by-order__detail {
		border-top: 1px solid var(--color-border);
	}

	&:not(:last-child) > td.product-by-order__detail {
		border-bottom: 1px solid var(--color-border);
	}

	&__status-dot {
		width: var(--size-10);
		height: var(--size-10);
		border-radius: 50%;
		margin-right: var(--space-2xl);

		&-new {
			background-color: var(--color-state-odd);
		}
		&-used {
			background-color: var(--color-state-even);
		}
	}

	&__name {
		font-size: var(--font-size-base);
		font-weight: 500;
		color: var(--color-text);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		& span:first-child {
			text-decoration: underline;
		}

		& span:last-child {
			color: var(--color-muted);
			font-size: var(--font-size-sm);
		}
	}
}
