$primary-color: #007bff;
$border-color: #ddd;
$light-gray: #f9f9f9;
$text-color: #333;
$gap-size: 30px;
$color-odd: #c9e05d;
$color-even: hwb(221 23% 68%);
$serial-number-color: #6e727c;
$serial-number-font-size: 12px;
$price-font-size: 12px;
$price-color: #6e727c;

.table-scroll-wrapper {
	width: 100%;
	max-width: 100%;
	overflow-x: auto;
	overflow-y: visible;
	-webkit-overflow-scrolling: touch;
	flex-shrink: 1;
	min-width: 0;
	margin-top: 40px;

	.product-table {
		border-collapse: separate;
		border-spacing: 0 10px;
		width: 100%;
		min-width: 1024px;
		table-layout: fixed;
	}
}

.product-item {
	vertical-align: middle;
	transition:
		box-shadow 0.2s,
		border-color 0.2s;
	background-color: white;

	& > td {
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		border-left: none;
		border-right: none;
		background-color: white;
		padding: 0;
		height: 60px;

		&:first-child {
			border-left: 1px solid $border-color;
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;
			padding-left: 20px;
		}
		&:last-child {
			border-right: 1px solid $border-color;
			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
			text-align: center;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		padding-right: $gap-size;
	}

	&__status {
		width: 200px;
	}

	&__status-dot {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		margin-right: 20px;
	}

	&:nth-child(odd) &__status-dot-new {
		background-color: $color-odd;
	}

	&:nth-child(even) &__status-dot-used {
		background-color: $color-even;
	}

	&__state {
		width: 200px;

		&-new {
			color: $color-odd;
		}
		&-used {
			color: $color-even;
		}
	}

	&__guarantee {
		display: flex;
		flex-direction: column;
		text-align: left;
		width: 250px;

		span {
			color: $text-color;
			font-size: 14px;
		}

		span > span {
			color: $color-even;
		}
	}

	&__name {
		flex-grow: 1;
		font-size: 16px;
		font-weight: 500;
		color: $text-color;
		cursor: pointer;
		margin-right: 20px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: left;
		display: flex;
		flex-direction: column;
		width: 200px;
		& span:first-child {
			text-decoration: underline;
		}

		& span:last-child {
			color: $serial-number-color;
			font-size: $serial-number-font-size;
		}
	}

	&__details {
		display: flex;
		align-items: center;
		gap: $gap-size;
		font-size: 14px;
		color: $text-color;
	}

	&__detail-item {
		display: flex;
		align-items: center;
		white-space: nowrap;
	}

	&__container-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 25px;
		height: 25px;
		margin-right: 5px;
		border: 1px solid gray;
		border-radius: 50%;
	}

	&__icon {
		color: gray;
	}

	&__count {
		text-align: left;
		font-size: 16px;
	}

	&__primary-text {
		font-weight: bold;
		text-align: left;
		font-size: 10px;
		color: gray;
	}

	&__secondary-text {
		font-size: 13px;
		font-weight: bold;
	}

	&__price {
		text-align: left;
		width: 200px;
		display: flex;
		flex-direction: column;
	}

	&__price-not-default {
		color: $price-color;
		font-weight: bold;
		font-size: $price-font-size;
	}

	&__order {
		font-size: 16px;
		font-weight: 500;
		color: $text-color;
		margin-right: 20px;
		text-align: left;
		width: 400px;

		white-space: nowrap;

		overflow: hidden;

		text-overflow: ellipsis;
	}

	&__delete-btn {
		width: 200px;
		height: 100%;
		position: relative;
	}
}

.product-table {
	border-collapse: separate;
	border-spacing: 0 10px;
	width: 100%;
}
