$text-color: #757575;
$font-size: 13px;

.date-time {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;

  &__label {
    font-size: $font-size;
    color: $text-color;
    font-weight: 500;
    width: 100%;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__date {
    font-size: $font-size;
    color: $text-color;
    font-weight: 500;
  }

  &__time-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &__clock-container-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }

  &__clock-icon {
    color: #7cb342;
    font-weight: 600;
    stroke-opacity: 3;
  }

  &__time {
    font-size: $font-size;
    color: $text-color;
  }
}
