.top-header {
  background-color: #ffffff;
  padding: 10px 0;

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.06);

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__col {
    display: flex;
    align-items: center;

    &--center {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
    }
  }
}
