.dashboard {
	display: flex;
	flex-direction: column;

	&__container {
		display: flex;
		min-width: 0;
	}

	&__content {
		padding: 3.125rem 3.125rem 0;
		width: 100%;
		flex: 1 1 auto;
		min-width: 0;
		overflow-x: hidden;
	}
}
