.dashboard {
	display: flex;
	flex-direction: column;
	padding-top: var(--top-header-height, 4rem);

	&__container {
		display: flex;
		min-width: 0;
		margin-left: var(--sidebar-width);
	}

	&__content {
		padding: 3.1rem 3.1rem 0;
		width: 100%;
		flex: 1 1 auto;
		min-width: 0;
		overflow-x: hidden;
	}
}
