$primary-color: #007bff;
$border-color: #ddd;
$light-gray: #f9f9f9;
$text-color: #333;
$gray-color: #696969;
$middle-gray-color: #aaaaaa;
$gap-size: 30px;
$price-color: #6e727c;
$price-font-size: 12px;

.table-scroll-wrapper {
	width: 100%;
	max-width: 100%;
	overflow-x: auto;
	overflow-y: visible;
	-webkit-overflow-scrolling: touch;
	flex-shrink: 1;
	min-width: 0;

	.order-table {
		border-collapse: separate;
		border-spacing: 0 10px;
		width: 100%;
		table-layout: fixed;

		&--full-width {
			min-width: 1024px;
		}
	}
}

.order-item {
	vertical-align: middle;
	transition:
		box-shadow 0.2s,
		border-color 0.2s;

	& > td {
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		border-left: none;
		border-right: none;
		background-color: white;
		padding: 0;
		height: 60px;

		&:first-child {
			border-left: 1px solid $border-color;
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;
			padding-left: 20px;
		}
		&:last-child {
			border-right: 1px solid $border-color;
			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
			text-align: center;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		padding-right: $gap-size;
	}

	&__name {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;
		text-align: left;
	}

	&__name-link {
		text-decoration: none;
		font-size: 16px;
		font-weight: 500;
		color: $text-color;
	}

	&__price {
		text-align: left;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	&__price-not-default {
		color: $price-color;
		font-weight: bold;
		font-size: $price-font-size;
	}

	&__detail {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}

	&__detail-item {
		display: flex;
		align-items: center;
		width: 100%;
	}

	&__container-icon {
		width: 30px;
		height: 30px;
		margin-right: 5px;
		border: 1px solid gray;
		border-radius: 50%;
	}

	&__icon {
		color: gray;
	}

	&__container-count {
		line-height: initial;
	}

	&__count {
		text-align: left;
		font-size: 16px;
	}

	&__primary-text {
		font-weight: bold;
		text-align: left;
		font-size: 10px;
		color: $gray-color;
	}

	&__secondary-text {
		font-size: 13px;
		font-weight: bold;
	}

	&__price-group {
		text-align: left;
		min-width: 100px;
		font-size: 10px;

		&--usd {
			color: gray;
			font-weight: bold;
		}
	}

	&__arrow {
		background-color: $middle-gray-color;
		color: white;
	}
}
