.location-map {
	display: flex;
	flex-direction: column;
	gap: var(--space-2xl);
}

.location-map__controls {
	display: flex;
	gap: var(--space-lg);
	align-items: center;
	justify-content: center;
}

.location-map__map {
	height: 24rem;
	overflow: hidden;
}

.location-map__error {
	color: #dc3545;
	font-size: var(--space-lg);
}
