.date-time {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	&__label {
		font-size: var(--font-size-md);
		color: var(--color-text-subtle);
		font-weight: 500;
		width: 100%;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		gap: var(--space-lg);
	}

	&__date {
		font-size: var(--font-size-md);
		color: var(--color-text-subtle);
		font-weight: 500;
	}

	&__time-wrapper {
		display: flex;
		align-items: center;
		gap: 0.375rem;
	}

	&__clock-container-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--color-accent-green);
	}

	&__time {
		font-size: var(--font-size-md);
		color: var(--color-text-subtle);
	}
}
