.circle-action-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    color: #778899;
  }

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), 0 3px 5px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
  }
}
