.avatar {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #e0e0e0;
  background-color: #f5f5f5;
  flex-shrink: 0;
  position: relative;

  &__sm {
    width: 40px;
    height: 40px;
  }

  &__md {
    width: 80px;
    height: 80px;
  }

  &__lg {
    width: 120px;
    height: 120px;
  }

  &__xl {
    width: 160px;
    height: 160px;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

    &--hidden {
      opacity: 0;
    }
  }

  &__placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &-content {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #e9ecef;
    }
  }
}
