.top-header {
	background-color: var(--color-surface);
	padding: var(--space-md) 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	width: 100%;

	box-shadow:
		0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -2px rgba(0, 0, 0, 0.06);

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__col {
		display: flex;
		align-items: center;

		&--center {
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 1;
		}
	}
}
