.negative-end-rem3 {
	right: -3rem !important;
}

.negative-top-rem3 {
	top: -3rem !important;
}

.negative-end-rem1 {
	right: -1rem !important;
}

.negative-top-rem1 {
	top: -1rem !important;
}

.ellipsis-shadow {
	position: relative;
}

.ellipsis-shadow::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: var(--size-25);
	height: 100%;
	pointer-events: none;
	background: linear-gradient(to right, transparent, var(--color-surface));
}
