.add-entity-btn {
	width: var(--size-30);
	height: var(--size-30);
	border-radius: 50%;
	padding: 0;
	background-color: var(--color-brand-green);
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0.1875rem solid var(--color-brand-green-border);

	&__icon {
		color: var(--color-white);
		width: 1rem;
		height: 1rem;
	}

	&:hover {
		background-color: var(--color-brand-green-dark);
		border-color: var(--color-brand-green-border);
	}
}
