$background-color-input: #f0f0f0;

.text-field {
  &__input {
    background-color: #{$background-color-input};
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

    &:focus {
      background-color: #{$background-color-input};
    }
  }
}
