.upload {
	position: relative;
	&__container {
		border: 2px dashed var(--color-slate);
		cursor: pointer;
		height: var(--size-188);
	}

	&__cropper {
		background-color: var(--color-surface);
		height: var(--size-188);
		position: relative;
		margin-top: -var(--size-188);
	}
}
