.upload {
	position: relative;
	overflow: hidden;

	&__container {
		border: 2px dashed var(--color-slate);
		cursor: pointer;
		height: var(--size-188);

		& > div {
			height: 100%;
			display: flex;
			align-items: center;
		}
	}

	&__cropper {
		background-color: var(--color-surface);
		height: var(--size-188);
		position: relative;
		margin-top: calc(-1 * var(--size-188));
	}
}
