$primary-color: #5cb85c;
$hover-color: #4d9a4d;
$border-color: #438743;
$icon-size: 1rem;
$white-color: #ffffff;

.add-content-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid $border-color;

  &__icon {
    color: $white-color;
    width: $icon-size;
    height: $icon-size;
  }

  &:hover {
    background-color: $hover-color;
  }
}
