.picture {
	display: inline-block;
	overflow: hidden;
	border: 0.125rem solid var(--color-border-neutral);
	background-color: var(--color-bg-lighter);
	flex-shrink: 0;
	position: relative;

	&__sm {
		width: var(--size-40);
		height: var(--size-40);
	}

	&__md {
		width: 5rem;
		height: 5rem;
	}

	&__lg {
		width: 7.5rem;
		height: 7.5rem;
	}

	&__xl {
		width: 10rem;
		height: 10rem;
	}

	&__full {
		width: 100%;
	}

	&__image {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;

		&--hidden {
			opacity: 0;
		}
	}

	&__placeholder {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;

		&-content {
			width: 100%;
			height: 100%;
			background-color: var(--color-placeholder-bg);
		}
	}

	&__error {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--color-error-bg);

		&-icon {
			color: red;
		}
	}
}
