.open-location-button {
	// width: var(--size-32);
	// height: var(--size-32);

	border: 0;
	background: none;

	&__icon {
		background-color: var(--color-brand-green);
		color: var(--color-surface);
		border-radius: 50%;
		padding: var(--size-5);
	}
}
